*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 200;
    font-style: italic;
}


.container{
    display: grid;
    grid-template-areas: 
        'navbar navbar'
        'sidebar contenido'
        'footer footer';
}

.navbar{
    grid-area: navbar;
    height: 60px;
}
.p1{
    font-size: smaller;
}

.titulo {
    font-family: 'Arial', sans-serif;  /* Tipo de fuente */
    font-size: 0.8rem;                 /* Tamaño de fuente */
    color: rgb(192, 105, 192);                   /* Color del texto */
    text-align: center;                /* Alineación del texto */
    text-transform: uppercase;          /* Transformar a mayúsculas */
    letter-spacing: 2px;               /* Espaciado entre letras */
    margin: 3px 0;                 /* Espaciado superior e inferior */                   /* Espaciado interno */       /* Borde alrededor del título */
    border-radius: 5px;                /* Bordes redondeados */
    background-color: rgba(74, 144, 226, 0.1); /* Color de fondo semitransparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra del título */
}

.boxnav{
    display: flex;
    background-color: #E7CCCC;
    align-items: center;
}
.box_img_nav{
    display: flex;
    justify-content: end;
    width: 30%;
}
.nav_texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    width: 80%;
}
.navbar img{
    width: 70px;
    height: auto;
}

.box_central{
    display: flex;
}
.sidebar{
    grid-area: sidebar;
}
.boxside{
    width: 20%;
    background-color: #A5B68D;
    color: rgb(7, 5, 5);
    min-height: cal(100vh - 20px - 65px);
    display: flex;
    flex-direction: column;
    padding: 4px;
    text-align: center;
}
.side_texto{
    display: flex;
    text-align: end;
    flex-direction: column;
}


.contenido{
    grid-area: contenido;
    background-color: #EDE8DC;
}
.boxcont{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    min-height: cal(100vh - 20px - 65px);
    padding: 5px;
    padding-top: 10px;
    padding-left: 70px;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 250px;
    height: auto;
    text-align: center;
    border: 1.5px solid black;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}
.precio_icon{
    display: flex;
    justify-content: center;
}


.footer{
    grid-area: footer;
    background-color: #C1CFA1;
    height: 20px;
    justify-content: center;
    display: flex;
}
.p_f1{
    padding-right: 40px;

}
