*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 200;
    font-style: italic;
}

.container{
    display: grid;
    grid-template-areas: 
        'navbar navbar'
        'sidebar contenido'
        'footer footer';
}
/*Navbar*/
.navbar{
    grid-area: navbar;
    height: 60px;
    border-radius: 10px;
    border-bottom: 1px solid lightgrey;
}
.p1{
    font-size: smaller;
}
.titulo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 0.9rem;                 
    color: rgb(95, 8, 95);                   
    text-align: center;                
    text-transform: uppercase;          
    letter-spacing: 2px;              
    margin: 3px 0;   
    border-radius: 5px;
    background-color: rgba(71, 56, 72, 0.1); 
    box-shadow: 0 6px 10px rgba(35, 19, 19, 0.2); 
}
.boxnav{
    display: flex;
    background-color: #E7CCCC;
    align-items: center;
}
.box_img_nav{
    display: flex;
    justify-content: end;
    width: 30%;
}
.nav_texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    width: 80%;
}
.navbar img{
    width: 70px;
    height: auto;
    border-radius: 15px
}

/*Contenido Central*/
.box_central{
    display: flex;
}

/*Sidebar*/
.sidebar{
    grid-area: sidebar;
}
.boxside{
    width: 20%;
    background-color: #A5B68D;
    color: rgb(245, 241, 241);
    min-height: cal(100vh - 20px - 65px);
    display: flex;
    flex-direction: column;
    padding: 4px;
    text-align: center;
}
.text1_side{
    font-weight: bold;
    padding-bottom: 7px;
}
li {
    padding-right: 30px;
    padding-bottom: 3px;
    padding-top: 2px;
}
.side_texto{
    display: flex;
    text-align: end;
    flex-direction: column;
}
.cantidades{
    color: gray;
}
.logotipo_side{
    margin-top: 300px;
}
.logotipo_side img{
    width: 150px;
    height: auto;
    border-radius: 75px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/*Los Productos Box Central*/
.contenido{
    grid-area: contenido;
    background-color: #EDE8DC;
}
.boxcont{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    min-height: cal(100vh - 20px - 65px);
    padding: 5px;
    padding-top: 10px;
    padding-left: 50px;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 250px;
    height: auto;
    text-align: center;
    border: 1.5px solid black;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(74, 72, 72, 0.3);
}
.card img{
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}
.precio_icon{
    display: flex;
    justify-content: center;
}
.sep_inconos{
    padding-left: 5px;
}
a {
    text-decoration: none;
}
a:hover{
    color: green;
}

/*footer*/
.footer{
    grid-area: footer;
    background-color: #C1CFA1;
    height: 20px;
    justify-content: center;
    display: flex;
}
.p_f1{
    padding-right: 40px;
}
